<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.thefirstmove">
<!--访问网络权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
<!--    获取网络状态权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
<!--    允许APP访问大概地理位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
<!--    允许APP访问精确地理位置-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
<!--    写入、读取数据的权利-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
<!--    请求能够访问摄像头设备-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
<!--    允许程序读取受保护的日志文件-->
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
<!--    录音权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>





    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>